*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
main{
    width: 75%; margin: 50px auto;
    border-radius: 2px solid grey;
    display: grid;
    grid-template-rows: 60px 130px 130px 130px;
    grid-template-columns:repeat(3,1fr) 100px;
    grid-gap: 30px;


}
.div1{background: darkorange;
grid-column: 1/-1;
}
.div2{background:powderblue}
.div3{background: brown;}
.div4{background: blueviolet;}
.div5{background: green;
grid-row: 2/4;
grid-column: 4/5;
}
.div6{background: palevioletred; 
grid-column: 1/4;
}
.div7{background: rgb(90, 209, 99);
    grid-column: 1/-1;
}

