*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
main
{
    width:95%;
    margin: 50px auto;
    border-radius:3px solid black;
    display: grid;
    grid-template-rows: 70px 150px 150px 100px;
    grid-template-columns: repeat(3, 1fr)  100px ;
    grid-gap: 30px;
    background: "1.jpg";
    background: cover;

}

.div1{background: red;
grid-column: 1/-1;}
.div2{background:greenyellow;}
.div3{background:violet; 

}
.div4{background:brown;}
.div5{background:wheat; 
grid-column: 1/4;}
.div6{background:blueviolet;
grid-column: 4/5;
grid-row: 2/4;}
.div7{background:blue;
grid-column: 1/-1;}